:root {
  --primary-color: #743122;
  --second-color: #d9b488;
}

.chesse-board {
  width: 80%;
  height: 70vh;
  border: medium solid black;
  display: flex;
  flex-wrap: wrap;
}

[data-num] {
  width: calc(100% / 8);
  height: calc(100% / 8);
  display: flex;
  justify-content: center;
  align-items: center;
  border: thin solid black;
  font-size: 3rem;
}

.color-white {
  background-color: var(--second-color);
}
.color-black {
  background-color: var(--primary-color);
}
